# BÀI TẬP

In [5]:
import numpy as np
import pandas as pd

from scipy.stats import t, norm

## Kiểm định đặc trưng tỉ lệ (p)

### Bài 1

Dataset 18 (__M&M__) chứa thông tin trọng lượng và màu sắc của mẫu các viên kẹo của hãng M&M. 

Sử dụng mẫu trên bạn hãy kiểm tra phát biểu sau: __"20% kẹo M&M có màu đỏ"__ với mức ý nghĩa là 5%

*Hướng dẫn: tính tỷ lệ các viên kẹo có màu đỏ từ dữ liệu, sử dụng kết quả để kiểm định phát biểu trên*

In [6]:
df_1 = pd.read_excel("data/18_M_M.xls")
df_1.head()

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [ ]:
alpha = 0.05
expected_ratio = 0.2

# Filter out red
red = df_1["Red"].count()
total = df_1.count().sum()
ratio = red / total

# H0: ratio = 0.2
# H1: ratio != 0.2

# Z-test
Z = (ratio - expected_ratio) / np.sqrt(expected_ratio * (1 - expected_ratio) / total)
p_value = 2 * (1 - norm.cdf(Z))

print(f"Z: {Z}, p-value: {p_value}")

if p_value < alpha:
    print("Reject H0")
else:
    print("Fail to reject H0")

Z: -1.7500000000000002, p-value: 1.9198816862723658
Fail to reject H0

### Bài 2

Dataset 3 (__FRESH15__) chứa thông tin khảo sát những thay đổi về trọng lượng (weight - WT) và chỉ số khối của cơ thể (BMI) của sinh viên năm nhất tại một trường Đại Học. Thời điểm khảo sát là bắt đầu học kỳ (tháng 9 - SEP) và kết thúc học kỳ (tháng 4 - APR), các sinh viên được chọn ngẫu nhiên trong trường.

Sử dụng mẫu trên, hãy kiểm tra phát biểu:__"50% số sinh viên trong trường là nam"__ với mức ý nghĩa 50%

Các thuộc tính trong bộ dữ liệu:
- SEX: Giới tính
- WTSEP: trọng lượng đo vào tháng 9 (mới nhập học)
- WTAPR: trọng lượng đo vào tháng 4 (kết thúc năm học)
- BMISP: BMI tháng 9
- BMIAP: BMI tháng 4

In [ ]:
df_2 = pd.read_excel("data/03_FRESH15.xls")
df_2.head()

  SEX  WTSEP  WTAPR  BMISP  BMIAP
0   M     72     59  22.02  18.14
1   M     97     86  19.70  17.44
2   M     74     69  24.09  22.43
3   M     93     88  26.97  25.57
4   F     68     64  21.51  20.10

In [ ]:
alpha = 0.5
expected_ratio = 0.5

# Filter out d
male = df_2[df_2["SEX"] == "M"].shape[0]
total = df_2.shape[0]
ratio = male / total

# H0: ratio = 0.5
# H1: ratio != 0.5

# Z-test
Z = (ratio - expected_ratio) / np.sqrt(expected_ratio * (1 - expected_ratio) / total)
p_value = 2 * (1 - norm.cdf(Z))

print(f"Z: {Z}, p-value: {p_value}")

print(f"{'Fail to ' if p_value > alpha else ''}Reject H0")

Z: -0.36650833306891584, p-value: 1.286014204330618
Fail to Reject H0

### Bài 3

Dataset 6(__BEARS__) chứa thông tin khảo sát ngẫu nhiên các con gấu trong một khu rừng.

Sử dụng mẫu trên, bạn hãy kiểm tra phát biểu: __"tỷ lệ gấu đực trong khu rừng là 50%""__ với mức ý nghĩa 90%.

Biết rằng thuộc tính SEX có hai giá trị: 1 - gấu đực, 2- gấu cái.

In [ ]:
df_3 = pd.read_excel("data/06_BEARS.xls")
df_3.head()

   AGE  MONTH  SEX  HEADLEN  HEADWTH  NECK  LENGTH  CHEST  WEIGHT
0   19      7    1     11.0      5.5  16.0    53.0   26.0      80
1   55      7    1     16.5      9.0  28.0    67.5   45.0     344
2   81      9    1     15.5      8.0  31.0    72.0   54.0     416
3  115      7    1     17.0     10.0  31.5    72.0   49.0     348
4  104      8    2     15.5      6.5  22.0    62.0   35.0     166

In [ ]:
alpha = 0.9
expected_ratio = 0.5

# Filter out data
male = df_3[df_3["SEX"] == 1].shape[0]
total = df_3.shape[0]
ratio = male / total

# H0: ratio = 0.5
# H1: ratio != 0.5

# Z-test
Z = (ratio - expected_ratio) / np.sqrt(expected_ratio * (1 - expected_ratio) / total)
p_value = 2 * (1 - norm.cdf(Z))

print(f"Z: {Z}, p-value: {p_value}")

print(f"{'Fail to ' if p_value > alpha else ''}Reject H0")

Z: 2.1773242158072694, p-value: 0.029456385632571358
Reject H0

### Bài 4

Dataset 9 __(MOVIES)__ chứa thông tin khảo sát một số phim trong khoảng thời gian 33 năm gần đây.

Có ý kiến cho rằng: __"55% các phim trong khoảng thời gian 33 năm gần đây có nhãn R (là phim giới hạn độ tuổi - Restricted)"__ .Theo bạn với mức ý nghĩa 95% ý kiến trên có đúng không?

Tham khảo: [Hệ thống phân loại của hiệp hội điện ảnh Mỹ](https://vi.wikipedia.org/wiki/H%E1%BB%87_th%E1%BB%91ng_ph%C3%A2n_lo%E1%BA%A1i_phim_c%E1%BB%A7a_MPAA#Ph%C3%A2n_lo%E1%BA%A1i_v%E1%BB%9Bi_c%C3%A1c_trailer_phim)

In [ ]:
df_4 = pd.read_excel("data/09_MOVIES.xls")
df_4.head()

               Title   MPAA  Budget  Gross  Length  Rating
0             8 Mile      R    41.0    117     110     6.7
1  Alone in the Dark      R    20.0      5      96     2.2
2            Aviator  PG-13   116.0    103     170     7.6
3           Big Fish  PG-13    70.0     66     125     8.0
4    Bourne Identity  PG-13    75.0    121     119     7.4

In [ ]:
alpha = 0.95
expected_ratio = 0.55

# Filter out data
r = df_4[df_4["MPAA"] == "R"].shape[0]
total = df_4.shape[0]
ratio = r / total

# H0: ratio = 0.55
# H1: ratio != 0.55

# Z-test
Z = (ratio - expected_ratio) / np.sqrt(expected_ratio * (1 - expected_ratio) / total)
p_value = 2 * (1 - norm.cdf(Z))

print(f"Z: {Z}, p-value: {p_value}")

# Ket luan
print(f"{'Fail to ' if p_value > alpha else ''}Reject H0")

Z: -2.4632947586151905, p-value: 1.9862333312089553
Fail to Reject H0

## Kiểm định đặc trưng kỳ vọng ($\mu$) biết ($\sigma$)

### Bài 5

Dataset 13 __(VOLTAGE)__ liệt kê các mức điện áp được đo tại các hộ gia đình bởi các máy đo khác nhau: tại nhà (HOME), tại máy phát độc lập (Generator), tại trạm phát (UPS).

Công ty cung cấp điện cho vùng này cam kết rằng: __"Mục tiêu cung cấp điện cho mỗi hộ gia đình là 120V"__ . Biết rằng độ lệch chuẩn của tất cả các mức điện áp đo được là 0.24V.

Với mức ý nghĩa 1%. Bạn hãy kiểm tra xem công ty có làm đúng cam kết hay không?

In [ ]:
df_5 = pd.read_excel("data/13_VOLTAGE.xls")
df_5.head()

   Day   Home  Generator    UPS
0    1  123.8      124.8  123.1
1    2  123.9      124.3  123.1
2    3  123.9      125.2  123.6
3    4  123.3      124.5  123.6
4    5  123.4      125.1  123.6

In [ ]:
alpha = 0.01
expected = 120

mean = df_5["Home"].mean()
std = 0.24
n = df_5.shape[0]

# H0: mean = 120
# H1: mean != 120

# T-test
T = t.isf(alpha / 2, n - 1).round(4)
t_score = ((mean - expected) / (std / np.sqrt(n))).round(4)

print(f"T: {T}, t-score: {t_score}")

print(f"{'Fail to ' if abs(t_score) < T else ''}Reject H0")

T: 2.7079, t-score: 96.5153
Reject H0

## Kiểm định đặc trưng kỳ vọng ($\mu$) không biết ($\sigma$)

### Bài 7

Dataset 19(__SCREWS__) chứa thông tin khảo sát chiều dài một số đinh ốc được cung cấp bởi công ty Crown Bolt (đơn vị inches)

Trên bao bì của các đinh ốc do công ty sản xuất có ghi chiều dài của các đinh ốc là 3/4 inches. Sử dụng mẫu trên bạn hãy cho biết chiều dài của đinh ốc lấy từ mẫu thu nhận được từ dữ liệu trên có nhất quán với chiều dài ghi trên bao bì hay không? Kiểm định với mức ý nghĩa 5%

In [ ]:
df_7 = pd.read_excel("data/19_SCREWS.xls", header=None)
df_7.head()

       0
0  0.757
1  0.723
2  0.754
3  0.737
4  0.757

In [ ]:
alpha = 0.05
expected = 3 / 4

# Filter out data
n = df_7.shape[0]
mean = df_7.mean()[0]

# H0: mean = 3/4
# H1: mean != 3/4

# T-test
T = t.isf(alpha / 2, n - 1).round(4)
t_score = ((mean - expected) / (df_7.std(ddof=1)[0] / np.sqrt(n))).round(4)

print(f"T: {T}, t-score: {t_score}")

print(f"{'Fail to ' if abs(t_score) < T else ''}Reject H0")

T: 2.0096, t-score: -1.8249
Fail to Reject H0

### Bài 8

Dataset 13 __(VOLTAGE)__ liệt kê các mức điện áp được đo tại các hộ gia đình bởi các máy đo khác nhau: tại nhà (HOME), tại máy phát độc lập (Generator), tại trạm phát (UPS).

Công ty cung cấp điện cho vùng này cam kết rằng: __"Mục tiêu cung cấp điện cho mỗi hộ gia đình là 120V"__ .

Với mức ý nghĩa 1%. Bạn hãy kiểm tra xem công ty có làm đúng cam kết hay không?

In [ ]:
df_8 = pd.read_excel("data/13_VOLTAGE.xls")
df_8.head()

   Day   Home  Generator    UPS
0    1  123.8      124.8  123.1
1    2  123.9      124.3  123.1
2    3  123.9      125.2  123.6
3    4  123.3      124.5  123.6
4    5  123.4      125.1  123.6

In [ ]:
alpha = 0.01
expected = 120

mean = df_8["Home"].mean()
n = df_8.shape[0]

# H0: mean = 120
# H1: mean != 120

# T-test
T = t.isf(alpha / 2, n - 1).round(4)
t_score = ((mean - expected) / (df_8["Home"].std(ddof=1) / np.sqrt(n))).round(4)

print(f"T: {T}, t-score: {t_score}")

print(f"{'Fail to ' if abs(t_score) < T else ''}Reject H0")

T: 2.7079, t-score: 96.3578
Reject H0

### Bài 9

Dataset 2 __(BODYTEMP)__ chứa thông tin khảo sát nhiệt độ cơ thể từ một nhóm người vào cùng một thời điểm lúc 12h trưa.

Có một phát biểu nói rằng, nhiệt độ cơ thể người đo lúc 12h trưa trong quần thể này là 98,6°

Dựa vào mẫu trên, bạn hãy cho biết phát biểu trên đúng hay sai ở mức ý nghĩa là 5%.

In [ ]:
df_9 = pd.read_excel("data/02_BODYTEMP.xls", header=None)
df_9.head()

      0
0  98.6
1  98.6
2  98.0
3  98.0
4  99.0

In [ ]:
alpha = 0.05
expected = 98.6

# Filter out data
n = df_9.shape[0]
mean = df_9.mean()[0]
std = df_9.std(ddof=1)[0]

# H0: mean = 98.6
# H1: mean != 98.6

# T-test
T = t.isf(alpha / 2, n - 1).round(4)
t_score = ((mean - expected) / (std / np.sqrt(n))).round(4)

print(f"T: {T}, t-score: {t_score}")

print(f"{'Fail to ' if abs(t_score) < T else ''}Reject H0")

T: 1.9828, t-score: -6.6115
Reject H0

### Bài 10

__FICO Score__ là đại lượng dùng để đo khả năng tín dụng của một cá nhân hoặc một tập thể. Sử dụng FICO Score, ngân hàng có thể quyết định xem có nên cho khách hàng mượn tiền hay không?

Dataset 24 __(FICO)__ chứa thông tin điểm tín dụng (FICO Score) của một số cá nhân trong vùng.

Sử dụng dữ liệu mẫu từ, bạn hãy cho biết ý kiến: __"điểm tín dùng trung bình của quần thể là 678"__ là đúng hay sai với mức ý nghĩa 5%

In [ ]:
df_10 = pd.read_excel("data/24_FICO.xls", header=None)
df_10.head()

     0
0  708
1  713
2  781
3  809
4  797

In [ ]:
alpha = 0.05
expected = 678

# Filter out data
n = df_10.shape[0]
mean = df_10.mean()[0]
std = df_10.std(ddof=1)[0]

# H0: mean = 678
# H1: mean != 678

# T-test
T = t.isf(alpha / 2, n - 1).round(4)
t_score = ((mean - expected) / (std / np.sqrt(n))).round(4)

print(f"T: {T}, t-score: {t_score}")

print(f"{'Fail to ' if abs(t_score) < T else ''}Reject H0")

T: 1.9842, t-score: 2.7225
Reject H0

---