<a href="https://colab.research.google.com/github/tiesen243/thong-ke-may-tinh-va-ung-dung/blob/main/tkud_lab01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

Python là một ngôn ngữ lập trình phổ biến hiện nay, được tạo ra bởi Guido van Rossum và phát hành vào năm 1991. Python là ngôn ngữ thường được dùng cho các lĩnh vực như: phát triển web, viết phần mềm, tính toán, viết kịch bản hệ thống, phân tích dữ liệu...

Tài liệu này hướng dẫn các bạn tiếp cận Python ở góc độ người đã từng học qua một ngôn ngữ lập trình, vì vậy các nội dung sẽ chủ yếu trình bày dưới dạng các ví dụ. Môi trường để thực hành là file notebook (`.ipynb`), các bạn hoàn toàn có thể chạy, ghi chú và chỉnh sửa trên file.

Tài liệu gồm những nội dung sau:

- Basic Data types (Kiểu dữ liệu cơ bản)
    - Numbers (kiểu số)
    - Boolean
    - String (kiểu chuỗi)
    - Input, Output (Nhập, xuất)
    - List (kiểu danh sách)
- Control flow (Luồng điều khiển)
    - if
    - while
    - for
    - function (hàm)
- Containers
- Built-in functions (một số hàm có sẵn thông dụng)
- Tham khảo

## BASIC DATA TYPES

### Numbers

Số nguyên và số thực trong Python hoạt động như trong các ngôn ngữ khác.

In [1]:
1 + 1

2

In [133]:
50 - 5 * 6

20

In [134]:
17 / 3  # classic division returns a float

5.666666666666667

In [135]:
17 // 3  # floor division discards the fractional part

5

In [136]:
5**2  # 5 squared

25

In [137]:
4 % 2

0

In [138]:
5 % 2

1

In [139]:
(2 + 3) * (5 + 5)

50

In [140]:
# Sử dụng toán tử '=' để gán giá trị cho biến, không cần phải khai báo biến trước khi sử dụng
width = 20
height = 5 * 9
width * height

900

In [141]:
# sử dụng biến mà không gán giá trị thì sẽ gặp thông báo lỗi
n

2

### Boolean

In [142]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not f)
print(t != f)  # XOR

<class 'bool'>
False
True
True
True

In [143]:
x = 3
print(x % 2 != 0)
print(x > 0 and x % 5 == 0)
print(x == 3 or x == 9)

True
False
True

### String

In [144]:
hello = "hello"  # String literals can use single quotes
world = "world"  # or double quotes; it does not matter.
print(hello)  # Prints "hello"
print(len(hello))  # String length; prints "5"

hello
5

In [145]:
hw = hello + " " + world  # String concatenation
print(hw)  # Prints "hello world"

hello world

In [146]:
hw12 = "%s %s %d" % (hello, world, 12)  # sprintf style string formatting
print(hw12)  # prints "hello world 12"
hw12 = "{} {} {}".format(hello, world, 12)  # sprintf style string formatting
print(hw12)  # prints "hello world 12"

hello world 12
hello world 12

Xâu kí tự trong Python là một lớp đối tượng và có rất nhiều phương thức hữu ích; ví dụ:

In [147]:
s = "hello"
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())  # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))  # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))  # Center a string, padding with spaces; prints " hello "
print(s.replace("l", "(ell)"))  # Replace all instances of one substring with another;
# prints "he(ell)(ell)o"
print("  world ".strip())  # Strip leading and trailing whitespace; prints "world"

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

Bạn có thể tìm hiểu thêm vì các phương thức của lớp xâu kí tự tại [đây](https://www.w3schools.com/python/python_strings_methods.asp)

### List

In [148]:
[1, 2, 3]  # Elements are the same data type

[1, 2, 3]

In [149]:
["hi", 1, [1, 2]]  # Elements are the different data types

['hi', 1, [1, 2]]

In [150]:
nest = [1, 2, 3, [4, 5, ["target"]]]

print(nest[3])
print(nest[3][2])
print(nest[3][2][0])

[4, 5, ['target']]
['target']
target

In [151]:
my_list = ["a", "b", "c"]  # declare a new variable

In [152]:
my_list.append("d")  # append an element
my_list

['a', 'b', 'c', 'd']

In [153]:
# Access single element by id
print(my_list[0])
print(my_list[2])

a
c

In [154]:
# Access a subset of list using slicing (':' operator)
print(my_list[1:])
print(my_list[1:3])

['b', 'c', 'd']
['b', 'c']

In [155]:
# Change value
my_list[0] = "NEW"
my_list

['NEW', 'b', 'c', 'd']

In [156]:
# Kiểm tra phần tử 'NEW' có thuộc danh sách
"NEW" in my_list

True

In [157]:
# Xóa phần tử ở vị trí thứ 2
del my_list[2]
print(my_list)

['NEW', 'b', 'd']

In [158]:
# Print each element in list
for x in my_list:
    print(x)

NEW
b
d

Bạn có thể tìm hiểu thêm vì các phương thức của list tại [đây](https://www.w3schools.com/python/python_lists_methods.asp)

### Input, Output

**Output**

In [159]:
x = "hello"

In [160]:
x

'hello'

In [161]:
print(x)

hello

In [162]:
num = 12
name = "Sam"

print(name, num)
print(name, num, sep=",")  # Adding the seperator ',' between 2 variables name and num
print(name, " has the number ", num)

Sam 12
Sam,12
Sam  has the number  12

In [163]:
print(f"My number is: {num}, and my name is: {name}")

My number is: 12, and my name is: Sam

In [164]:
print("My number is: {}, and my name is: {}".format(num, name))

My number is: 12, and my name is: Sam

In [165]:
print("My number is: %d, and my name is: %s" % (num, name))

My number is: 12, and my name is: Sam

**Input**

In [166]:
# Nhập một chuỗi
print("Enter your name:")
x = input()
print("Hello, " + x)
print(type(x))

Enter your name:
dasda
Hello, dasda
<class 'str'>

In [167]:
# Nhập một số nguyên
age = int(input("Enter your age: "))
print("Your age is", age)
print(type(age))

Enter your age: 3
Your age is 3
<class 'int'>

In [168]:
# Nhập một số thực
weight = float(input("Enter your weight: "))
print("Your weight is", weight)
print(type(weight))

Enter your weight: 3123
Your weight is 3123.0
<class 'float'>

In [169]:
# Nhập một danh sách với số lượng xác định số phần tử số nguyên
# creating an empty list
lst = []

n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = int(input())
    # adding the element
    lst.append(ele)

print(lst)

Enter number of elements : 2
3
4
[3, 4]

In [170]:
# Nhập một list các phần tử số thực cách nhau bởi dấu ,
input_string = "1.5, -8.25, 9, 2.08"

lst1 = [float(x) for x in input_string.split(",")]
print(lst1)

[1.5, -8.25, 9.0, 2.08]

In [171]:
# Nhập một list các phần tử số thực cách nhau bởi dấu , (cách khác)
input_string = "1.5, -8.25, 9, 2.08"

lst2 = list(map(float, input_string.split(",")))
print(lst2)

[1.5, -8.25, 9.0, 2.08]

## CONTROL FLOW

### if, if-else, if-elif-else

Cú pháp câu lệnh if:

```python
if logical_condition:
    statement(s)
```

Cần phải đặt dấu `:` ở cuối câu lệnh điều kiện, và các câu lệnh con ở các dòng tiếp theo phải thụt vào trong so với câu lệnh if (thông thường là 4 khoảng trắng)

In [172]:
# if
a = 2000
b = 1999

if a > b:
    print("a is greater than b")

a is greater than b

In [173]:
# if-else
a = 2000
b = 1999

if a < b:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [174]:
# if-elif-else
a = 2000
b = 2000

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal

In [175]:
# Nested if (câu lệnh điều kiện lồng nhau)
a = 1999
b = 2000

if a > b:
    print("a > b")
elif a < b:
    print("a < b")
    if a == 1999:
        print("a = 1999")
    else:
        print("a is not equal to 1999")
else:
    print("a = b")

a < b
a = 1999

### while

```python
while logical_condition:
    statement(s)
```

In [176]:
i = 1
while i < 10:
    print(i * 2)
    i = i + 1
print("Mission accomplished!")

2
4
6
8
10
12
14
16
18
Mission accomplished!

### for

Với mỗi phần tử của biến **sequence**, câu lệnh statement(s) được thực thi

```python
for variable in sequence:
    statement(s)
```

In [177]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [178]:
for i in [1, 5, 10, 15]:
    print(i * 5)

5
25
50
75

### break

Câu lệnh `break` dùng để thoát khỏi vòng lặp

In [179]:
for i in range(10):
    print(i)
    if i >= 4:
        break

0
1
2
3
4

### continue

Câu lệnh `continue` khiến cho vòng lặp kế tiếp được thực hiện, ngay cả khi vòng lặp hiện tại chưa được thực hiện xong.

In [180]:
for i in range(10):
    if i == 2:
        print("Ignoring 2")
        continue
    else:
        print(i)

0
1
Ignoring 2
3
4
5
6
7
8
9

### Function

Cú pháp định nghĩa hàm:

```python
def function_name( parameters... ):
   "function_docstring"
   function_suite...
   ...
   return [return_value]
```

Trong đó:

- function_name: tên hàm
- parameters: danh sách các tham số
- function_docstring: ghi chú, giải thích ý nghĩa của hàm. Nên có để viết code cho dễ đọc
- function_suite: chứa các câu lệnh sẽ thực hiện trong hàm
- return_value: giá trị trả về của hàm nếu có

In [181]:
# Define a function
def my_function():
    "This is a testing function"
    print("Hello from a function")

In [182]:
# Call the defined function
my_function()

Hello from a function

In [183]:
# Define and call a function with a parameter
def my_function(fname):
    print(fname + " Refsnes")


my_function("Emily")
my_function("Tobias")
my_function("Linus")

Emily Refsnes
Tobias Refsnes
Linus Refsnes

In [184]:
# Define and call a function with two parameters
def my_function(fname, lname):
    print(fname + " " + lname)


my_function("Emil", "Refsnes")

Emil Refsnes

In [185]:
# Passing a list as an argument
def my_function(food):
    for x in food:
        print(x)


fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [186]:
# Function with return value
def my_function(x):
    return 5 * x


print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Ta có thể định nghĩa hàm nhận tham số tùy chọn, như sau:

In [187]:
# Define a function with default parameter 'loud'
def hello(name, loud=False):
    if loud:
        print("HELLO, %s!" % name.upper())
    else:
        print("Hello, %s" % name)


hello("Bob")  # Prints "Hello, Bob"
hello("Fred", loud=True)  # Prints "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

## BUILT-IN FUNCTIONS

In [188]:
# Hàm lấy độ dài
mylist = ["apple", "banana", "cherry"]
n = len(mylist)
print(n)

3

In [189]:
# Hàm xác định kiểu dữ liệu của biến
a = ("apple", "banana", "cherry")
b = "Hello World"
c = 33

print(f"var: {a}, type:{type(a)}")
print(f"var: {b}, type:{type(b)}")
print(f"var: {c}, type:{type(c)}")

var: ('apple', 'banana', 'cherry'), type:<class 'tuple'>
var: Hello World, type:<class 'str'>
var: 33, type:<class 'int'>

In [190]:
# Hàm lũy thừa
pow(2, 3)

8

`round()` sử dụng để làm tròn phần thập phân

In [191]:
# Hàm làm tròn
print(round(3.14159265359, 0))
print(round(3.14159265359, 2))

3.0
3.14

In [192]:
# Tính giá trị tuyệt đối
abs(-3.4)

3.4

Bạn có thể tìm hiểu thêm chi tiết các hàm có sẵn trong python tại [đây](https://www.w3schools.com/python/python_ref_functions.asp)

## CONTAINERS

Ngoài các kiểu dữ liệu cơ bản trong Python còn một số kiểu dữ liệu dùng để chứa nhiều phần tử được gọi là các containers (lớp chứa). Các container có sẵn trong python là có sẵn là: `list`, `dict`, `set` và `tuple`.

### list

Trong Python, `list` tương tự như khái niệm mảng trong các ngôn ngữ lập trình khác, nhưng `list` trong Python có thể thay đổi kích thước và chứa các phần tử có kiểu dữ liệu khác nhau.

In [193]:
xs = [3, 1, 2]  # Create a list
print(xs, xs[2])  # Prints "[3, 1, 2] 2"
print(xs[-1])  # Negative indices count from the end of the list; prints "2"
xs[2] = "foo"  # Lists can contain elements of different types
print(xs)  # Prints "[3, 1, 'foo']"
xs.append("bar")  # Add a new element to the end of the list
print(xs)  # Prints "[3, 1, 'foo', 'bar']"
x = xs.pop()  # Remove and return the last element of the list
print(x, xs)  # Prints "bar [3, 1, 'foo']"

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']

Bạn có thể tìm hiểu thêm chi tiết tại [đây](https://www.w3schools.com/python/python_lists_methods.asp)

#### Slicing

Ngoài việc truy cập từng phần tử của `list` , Python còn cung cấp cú pháp để truy cập các `list` con như dưới đây được gọi là `slicing`.

In [194]:
nums = list(range(5))  # range is a built-in function that creates a list of integers
print(nums)  # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])  # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])  # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])  # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])  # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:-1])  # Slice indices can be negative; prints "[0, 1, 2, 3]"
nums[2:4] = [8, 9]  # Assign a new sublist to a slice
print(nums)  # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

Slicing sẽ được đề cập lại ở phần sau, sử dụng cùng với các mảng numpy.

#### Duyệt list

Bạn có thể duyệt qua các phần tử của `list` như sau:

C1: Dùng từ khóa `in`

In [195]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x**2)
print(squares)  # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

C2: Sử dụng các kết quả của hàm `range(...)`

In [196]:
nums = [0, 1, 2, 3, 4]
squares = []
for i in range(len(nums)):
    squares.append(nums[i] ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [197]:
nums = [0, 1, 2, 3, 4]
squares = []
for i in range(2, len(nums)):
    squares.append(nums[i] ** 2)
print(squares)

[4, 9, 16]

C3: sử dụng giống cú pháp Select..From..Where như trong SQL

In [198]:
nums = [0, 1, 2, 3, 4]
squares = [x**2 for x in nums]
print(squares)  # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

Các list comprehension cũng có thể chứa các điều kiện:

In [199]:
nums = [0, 1, 2, 3, 4]
even_squares = [x**2 for x in nums if x % 2 == 0]
print(even_squares)  # Prints "[0, 4, 16]"

[0, 4, 16]

C4: Trong trường hợp bạn muốn truy cập đến chỉ mục của phần tử trong thân vòng lặp, sử dụng hàm dựng sẵn `enumerate`:

In [200]:
animals = ["cat", "dog", "monkey"]
for idx, animal in enumerate(animals):
    print("#%d: %s" % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

### dict

Một từ điển `dict` chứa cặp (key, value), tương tự như `Map` trong ngôn ngữ `Java`, trong đó các `key` là duy nhất. Bạn có thể sử dụng nó như sau:

In [201]:
d = {"cat": "cute", "dog": "furry"}  # Create a new dictionary with some data
print(d["cat"])  # Get an entry from a dictionary; prints "cute"
print("cat" in d)  # Check if a dictionary has a given key; prints "True"
d["fish"] = "wet"  # Set an entry in a dictionary
print(d["fish"])  # Prints "wet"
# print(d['monkey'])  # KeyError: 'monkey' not a key of d
print(d.get("monkey", "N/A"))  # Get an element with a default; prints "N/A"
print(d.get("fish", "N/A"))  # Get an element with a default; prints "wet"
del d["fish"]  # Remove an element from a dictionary
print(d.get("fish", "N/A"))  # "fish" is no longer a key; prints "N/A"

cute
True
wet
N/A
wet
N/A

Tìm hiểu thêm về `dict` tại [đây](https://www.w3schools.com/python/python_dictionaries_methods.asp).

#### Duyệt dict

Có thể dễ dàng duyệt qua các khóa trong một từ điển:

In [202]:
d = {"person": 2, "cat": 4, "spider": 8}
for animal in d:
    legs = d[animal]
    print("A %s has %d legs" % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Nếu bạn muốn truy cập đến các khóa và các giá trị tương ứng, sử dụng phương thức `items`:

In [203]:
d = {"person": 2, "cat": 4, "spider": 8}
for animal, legs in d.items():
    print("A %s has %d legs" % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Tạo dict mới từ dict có sẵn thỏa mãn một số điều kiện. Ví dụ:

In [204]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x**2 for x in nums if x % 2 == 0}
print(even_num_to_square)  # Prints "{0: 0, 2: 4, 4: 16}"

{0: 0, 2: 4, 4: 16}

### set

Một `set` là một tập hợp không xét thứ tự của các phần tử riêng biệt. Xem xét một ví dụ đơn giản sau:

In [205]:
animals = {"cat", "dog"}
print("cat" in animals)  # Check if an element is in a set; prints "True"
print("fish" in animals)  # prints "False"
animals.add("fish")  # Add an element to a set
print("fish" in animals)  # Prints "True"
print(len(animals))  # Number of elements in a set; prints "3"
animals.add("cat")  # Adding an element that is already in the set does nothing
print(len(animals))  # Prints "3"
animals.remove("cat")  # Remove an element from a set
print(len(animals))  # Prints "2"

True
False
True
3
3
2

Bạn có thể tìm hiểu thêm về `set` tại [đây](https://www.w3schools.com/python/python_sets_methods.asp).

Duyệt qua `set` tương tự như duyệt qua `list`; tuy nhiên vì `set` không có thứ tự, bạn không thể truy cập các phần tử thông qua chỉ mục (`id`)

In [206]:
animals = {"cat", "dog", "fish"}
print(animals)

{'cat', 'dog', 'fish'}

In [207]:
# This statement will raise error
animals[1]

TypeError: 'set' object is not subscriptable

In [208]:
# Duyệt bằng toán tử in
for a in animals:
    print(a)

cat
dog
fish

In [209]:
# Duyệt sử dụng hàm `enumerate()`
for idx, animal in enumerate(animals):
    print("#%d: %s" % (idx + 1, animal))

#1: cat
#2: dog
#3: fish

In [210]:
# Cách khác
from math import sqrt

nums = {int(sqrt(x)) for x in range(30)}
print(nums)  # Prints "{0, 1, 2, 3, 4, 5}"

{0, 1, 2, 3, 4, 5}

### tuple
Một tuple là một danh sách có thứ tự của các phần tử và danh sách này không thay đổi được. Một `tuple` có nhiều điểm tương tự như `list`; điểm khác biệt quan trọng nhất là `tuple` có thể được dùng như các khóa của `dict` hay các phần tử của `set`, `list` thì không thể. Sau đây là một ví dụ:

In [211]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)  # Create a tuple
print(type(t))  # Prints "<class 'tuple'>"
print(d[t])  # Prints "5"
print(d[(1, 2)])  # Prints "1"

<class 'tuple'>
5
1

Tài liệu chi tiết về `tuple` có thể xem tại [đây](https://www.w3schools.com/python/python_tuples.asp).

---

## TÓM TẮT

- Kiểu dữ liệu cơ bản

    | Type | Description |
    |----|---|
    | int  | Integer |
    | float  | Floating-point number |
    | str  | String |
    | bool  | Boolean (True or False) |

- Các toán tử

    | Toán tử | Ghi chú |
    |----|---|
    | +  | cộng |
    | -  | trừ |
    | /  | chia |
    | //  | chia lấy phần nguyên |
    | *  | nhân |
    | %  | chia lấy phần dư |
    | **  | lũy thừa |

- Luồng điều khiển
  - Câu lệnh lựa chọn (`if, if-else, if-elif-else`)
  - Câu lệnh lặp (`while, for`)
  - Hàm

- Các lớp chứa (containers)
  - `list`
  - `dict`
  - `set`
  - `tuple`

- Các hàm thông dụng (built-in funciton)


    | Hàm | Ghi chú |
    |----|---|
    | len()  | lấy độ dài |
    | type()  | xem kiểu dữ liệu |
    | range()  | trả về dãy số có thứ tự|
    | str()  | ép kiểu sang kiểu chuỗi |
    | pow()  | lũy thừa |
    | round() | làm tròn |
    | abs()  | tính trị tuyệt đối |

---

## THAM KHẢO

Tài liệu sẽ hướng dẫn các chủ đề cần thiết để phục vụ môn học, nếu có nhu cầu tìm hiểu và học thêm các bạn có thể tham khảo từ các nguồn sau:

- [The Python Tutorial](https://docs.python.org/3/tutorial/index.html) (official)
- [W3School Python](https://www.w3schools.com/python/default.asp)
- [Tutorialspoint](https://www.tutorialspoint.com/python/index.htm)

<br/>

---

## BÀI TẬP

1. In toàn bộ các số chẵn từ 1000 đến 2000

In [212]:
" ".join([str(i) for i in range(1000, 2001)])

'1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 1386 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439 1440 1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552 1553 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565 1566 1567 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619 1620 1621 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664 1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679 1680 1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735 1736 1737 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000'

2. Viết chương trình tìm tất cả các số chia hết cho 7 nhưng không phải bội số của 5, nằm trong đoạn 2000 và 3200 (tính cả 2000 và 3200). Các số thu được sẽ được in thành chuỗi trên một dòng, cách nhau bằng dấu phẩy

In [213]:
", ".join([str(i) for i in range(2000, 3201) if i % 7 == 0 and i % 5 == 0])

'2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185'

3. Với số nguyên n nhất định, hãy viết chương trình hiển thị dictionary chứa các cặp (i, i*i) ; biết i có giá trị từ 1..n

In [215]:
{x: x**x for x in range(1, int(input("n = ")) + 1)}

n = 10

{1: 1,
 2: 4,
 3: 27,
 4: 256,
 5: 3125,
 6: 46656,
 7: 823543,
 8: 16777216,
 9: 387420489,
 10: 10000000000}

4. Viết chương trình chấp nhận một chuỗi số, phân tách bằng dấu phẩy từ giao diện điều khiển, tạo ra một List và một tuple chứa mọi số.

    Ví dụ:

    ```
    Đầu vào được cung cấp là '34,67,55,33,12,98' thì đầu ra là:

    [34, 67, 55, 33, 12, 98]
    (34, 67, 55, 33, 12, 98)
    ```

In [216]:
lstFour = list(map(int, input("inp = ").split(",")))

print(
    f"""
list = {lstFour}
tuple = {tuple(lstFour)}
"""
)

inp = 34,67,55,33,12,98

list = [34, 67, 55, 33, 12, 98]
tuple = (34, 67, 55, 33, 12, 98)

5. Viết chương trình hỏi người dùng một số tự nhiên n và in ra tất cả ước số của con số đó.

In [217]:
n = int(input("n = "))

" ".join([str(i) for i in range(1, n) if n % i == 0])

n = 50

'1 2 5 10 25'

6. Viết chương trình Python tính tổng các phần tử của một danh sách.

In [218]:
sum(map(int, input("lst = ").split()))

lst = 1 2 3 4 5 6 69

90

7. Nhập vào một list L có các phần tử bao gồm chuỗi và số nguyên, hãy tìm và in ra chuỗi có độ dài lớn nhất và số nguyên có giá trị nhỏ nhất

In [219]:
lstSeven = input("lst = ").split()

max([i for i in lstSeven if not i.isdigit()], key=len), min(
    [int(i) for i in lstSeven if i.isdigit()]
)

lst = sdad 1232 dasda 12312 dasda 123321 dsadsa 12321 dasd

('dsadsa', 1232)

8. Viết hàm đưa vào 1 list số nguyên L và 1 số nguyên dương a. Hãy tính và trả về giá trị trung bình của a phần tử đầu tiên trong L

In [220]:
meanToA = lambda arr, a: sum(arr[:a]) / len(arr[:a])

meanToA([1, 2, 3, 4, 5, 6, 7], 4)

2.5

9. Viết hàm nhận vào một danh sách các số nguyên. Hãy viết hàm trả về một danh sách gồm các số không trùng nhau trong danh sách ban đầu

In [2]:
list(set(map(int, input("lst = ").strip().split())))

lst = 1 2 69 69 69 4 3 4 4 3 3

[1, 2, 3, 4, 69]

10. Viết hàm có tham số đầu vào là một list L có các phần tử là chuỗi. Hãy tạo ra một dictionary D mã hóa, với mỗi một phần tử trong L được mã hóa thành một con số (theo thứ tự từ 0 tăng dần lên 1 đơn vị). Sau đó trả về list đã được mã hóa

    Ví dụ:

    ```
    Cho L = ["đen","vàng","xanh","vàng","xanh","đỏ","hồng"]

    Xây dựng dictionary mã hóa:
    D = {'đen':0,'vàng':1,'xanh':2,'đỏ':3,'hồng':4}

    Trả về List mã hóa:
    L_mahoa = [0, 1, 2, 1, 2, 3, 4]
    ```

In [3]:
L = ["đen", "vàng", "xanh", "vàng", "xanh", "đỏ", "hồng"]

D = {j: i for i, j in enumerate(set(L))}
L_mahoa = [i for i in D.values()]

In [4]:
D, L_mahoa

({'vàng': 0, 'đỏ': 1, 'đen': 2, 'hồng': 3, 'xanh': 4}, [0, 1, 2, 3, 4])

11. Viết hàm kết hợp hai dictionary dựa vào key như sau:

    ```python
    d1 = {'a': 100, 'b': 200, 'c':300}
    d2 = {'a': 300, 'b': 200, 'd':400}
    Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})
    ```

In [5]:
concatDict = lambda d1, d2: {
    k: (d1.get(k, 0) + d2.get(k, 0)) for k in d1.keys() | d2.keys()
}

In [6]:
d1 = {"a": 100, "b": 200, "c": 300}
d2 = {"a": 300, "b": 200, "d": 400}

concatDict(d1, d2)

{'b': 400, 'a': 400, 'd': 400, 'c': 300}